h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ccc;
    padding: 2px 5px;
    border-radius: 3px;

}
h2{
    text-align:center;
    background-color: #ccc;
}
img{
    width: 280px;
    margin: double;
    padding: -5.0px;

}
.galeria img {
    margin:  5px;
    width: 200px;
    height: auto;
    border: 10px;
    border-radius: 30px;
    transition: tranform 0.2s, box-shadow 0.2s;

}

.galeria img {
    width: 300px;
    height: auto;
    transition: filter 0.7s ease, box-shadow 0.7s ease;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
}
